/*::::::::::Topo da Página::::::::::*/
.barra-topo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 69px;
	background-color: #ec362d;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo-topo {
	color: #ffffff;
	font-size: 37px;
	font-weight: 700;
}

/*::::::::::Corpo da Página Inicial::::::::::*/

/*::::::::::Sugestão de criação de Quiz::::::::::*/
.corpo-pagina-inicial {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
	margin-top: 10px;
}
.criar-quizz {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 1051px;
	height: 181px;
	border-radius: 5px;
	border: 1px dashed #d5d5d5;
	margin-bottom: 110px;
}
.corpo-pagina-inicial > .botao-criacao {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-self: flex-center;
	width: 1051px;
	margin-top: 50px;

	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: center;
}
.criar-quizz > .botao-criacao {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.aviso-quizz {
	font-size: 20px;
	color: #b9b9b9;
	text-align: center;
	margin-bottom: 10px;
}
.criar {
	width: 136px;
	height: 40px;
	font-size: 21px;
	color: #ec362d;
	background-color: white;
	border-radius: 50px;
	border: 1px dashed #ec362d;
}
.possuiQuiz {
	width: 40px;
	border-radius: 50%;
	border: none;
	background-color: transparent;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/*::::::::::Todos os Quizzes::::::::::*/
.todosOsQuizzes {
	width: 1051px;

	text-align: left;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 12px;
}
.loading {
	min-height: 77vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
}
.caixa-quizz {
	width: 1050px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.quizzes-de-outros {
	width: 340px;
	height: 181px;
	position: relative;
	margin-bottom: 14px;
}
.quizzes-de-outros img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.sombra-imagem {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	box-shadow: inset 0 -50px 60px rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 0;
}
.quizzes-de-outros span {
	position: absolute;
	bottom: 20px;
	left: 15px;
	color: white;
	z-index: 1;
}
/*:::::::::::Tela de Criação de Quizz 1::::::::::*/
.tela-infos-basicas {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fafafa;
	gap: 29px;
}

.instrucao {
	font-weight: bold;
	font-size: 20px;
	margin-top: 37px;
}

.conteudo-criacao {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #fafafa;
}

.dados-quizz_1 {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	width: 100%;
	height: 256px;
	justify-content: center;
	align-items: center;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.dados-quizz_1 input {
	width: 95%;
	height: 46px;
	margin-bottom: 10px;
	font-size: 19px;
	font-style: italic;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
}

.container-botao {
	width: 100%;
	display: flex;
	justify-content: center;
}

.botao-prosseguir {
	background-color: #ec362d;
	border-radius: 15px;
	font-size: 18px;
	color: #fff5f4;
	height: 54px;
	padding: 0 25px;
	border: none;
	outline: none;
	margin-top: 29px;
}

/*:::::::::::Fim da Tela de Criação de Quizz 1::::::::::*/

/*:::::::::::Tela de Criação de Quizz 2::::::::::*/
.corpo-pagina-criacao {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fafafa;
	gap: 29px;
}

.caixa-adicao {
	display: flex;
	width: 100%;
	min-height: 74px;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
	margin-bottom: 22px;
}

.caixa-adicao h3 {
	font-weight: bold;
	font-size: 20px;
	margin-left: 17px;
}

.caixa-adicao ion-icon {
	font-size: 26px;
	margin-right: 25px;
}
.tela-perguntas .conteudo-criacao {
	min-height: 100vh;
}

.tela-perguntas .conteudo-criacao .botao-prosseguir {
	width: 80%;
	margin: 20px auto 0 auto;
}
.container-form-perguntas {
	width: 100%;
}

.container-form-perguntas div {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container-form-perguntas .pergunta {
	margin-top: 12px;
	margin-bottom: 28px;
}

.resposta-correta {
	margin: 14px 0 24px 0;
}

.respostas-incorretas {
	margin-top: 14px;
}

.resposta-incorreta {
	margin-bottom: 24px;
}

.container-form-perguntas div input {
	width: 95%;
	height: 46px;
	margin-bottom: 10px;
	font-size: 19px;
	font-style: italic;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
}

.ativo {
	flex-direction: column;
	align-items: flex-start;
}

.margem {
	margin-top: 27px;
}

/*:::::::::::Fim da Tela de Criação de Quizz 2::::::::::*/

/*:::::::::::Tela de Criação de Quizz 3::::::::::*/
.corpo-pagina-criacao {
	width: 100%;
}

.corpo-pagina-criacao .conteudo-criacao {
	width: 100%;
	height: 80vh;
}

.caixa-input {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 12px;
}
.container-form {
	width: 100%;
}

.caixa-input input {
	height: 46px;
	width: 95%;
	margin-bottom: 10px;
	font-size: 19px;
	font-style: italic;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	padding-left: 10px;
}

.caixa-input .descricao {
	width: 95%;
	height: 170px;
	padding-left: 10px;
	min-height: 46px;
	font-size: 19px;
	font-style: italic;
	font-family: Roboto;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1 solid #d1d1d1;
}

.caixa-input .descricao::placeholder {
	font-size: 19px;
	font-family: Roboto;
	font-style: italic;
}

.caixa-input input::placeholder,
.caixa-input .descricao::placeholder {
	margin-left: 20px;
}

/*:::::::::::Fim da Tela de Criação de Quizz 3::::::::::*/

/*::::::::::Página de um Quizz ::::::::::*/
.pagina-de-um-quizz {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-foto-de-capa-quizz {
	height: 277px;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.container-foto-de-capa-quizz img {
	width: 100%;
	height: 277px;
	object-fit: cover;
	filter: brightness(0.4);
}

.container-foto-de-capa-quizz span {
	position: absolute;
	color: white;
	font-size: 38px;
}

.container-pergunta-individual {
	width: 759px;
	margin-bottom: 42px;
	background-color: white;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 28px;
}

.container-titulo-pergunta-individual {
	width: 688px;
	height: 138px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-titulo-pergunta-individual h2 {
	color: white;
	font-weight: 550;
	font-size: 23px;

	font-family: Roboto;
	font-size: 23px;
	font-style: normal;
	font-weight: 700;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: center;
}

.container-respostas-pergunta-individual {
	margin-top: 19px;
	width: 684px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: space-between;
}

.container-resposta-indivual {
	width: 330px;
	height: 200px;
}

.container-resposta-indivual img {
	width: 330px;
	height: 175px;
}

.container-resposta-indivual span {
	color: inherit;
	font-weight: 700;
}

.nao-selecionado {
	opacity: 0.4;
}

.container-fim-do-quizz {
	width: 759px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
	padding: 23px;
}

.container-resultado {
	width: 727px;
	height: 99px;
	background-color: #ec362d;
	margin-bottom: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-resultado h1 {
	color: white;
	font-weight: 550;
	font-size: 23px;
}

.imagem-e-descricao {
	width: 681px;
	height: 273px;
	display: flex;
}

.imagem-e-descricao img {
	width: 364px;
	height: 273px;
}

.imagem-e-descricao .textoQuizz {
	width: auto;
	padding: 21px;
	word-break: normal;
}

.reiniciar-quizz {
	width: 259px;
	height: 52px;
	background-color: #ec362d;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 17px;
	font-size: 21px;
	color: white;
	margin-bottom: 20px;
	margin-top: 50px;
}

.voltar-home {
	background-color: transparent;
	color: #818181;
	font-size: 21px;
}

/*::::::::::Estilos Gerais::::::::::*/

body {
	font-family: "Roboto", sans-serif;
	background-color: #fafafa;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

html {
	scroll-behavior: smooth;
	inset-block: center;
}

/*::::::::::Classes de Suporte::::::::::*/
.hidden {
	display: none;
}

.verde {
	color: green;
}

.vermelho {
	color: red;
}

.nao-modificado {
	color: black;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/*:::::Versão Mobile:::::*/

@media (max-width: 1100px) {
	.corpo-pagina-inicial {
		width: 100vw;
		justify-content: center;
	}
	.criar-quizz {
		width: 90vw;
		margin-bottom: 30px;
		display: flex;
		flex-direction: column;
	}

	.criar-quizz p {
		color: #b9b9b9;
		font-size: 20px;
		width: 60%;
		text-align: center;
	}

	.criar-quizz .botao-criacao {
		margin-top: 40px;
		padding: 10px 15px;
		font-size: 21px;
		font-weight: 400;
		color: #ec362d;
		background-color: #fafafa;
		border: 1px dashed #ec362d;
		border-radius: 50px;
		cursor: pointer;
	}

	.caixa-quizz {
		width: 90vw;
		margin: 0 auto;
		cursor: pointer;
	}
	/* .corpo-pagina-criacao {
		justify-content: center;
	} */
	.quizzes-de-outros {
		margin: 0 auto;
		margin-bottom: 14px;
	}
	.pagina-de-um-quizz {
		display: flex;
		flex-direction: column;
	}

	.container-pergunta-individual {
		width: 90vw;
		height: auto;
		padding: 0;
		align-items: center;
		margin: 0 auto;
		display: flex;
	}
	.container-respostas-pergunta-individual {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	/* .conteudo-criacao {
		width: 90vw;
		align-items: center;
		margin: 0 auto;
	}
	.dados-quizz_1 {
		width: 90vw;
	}
	.dados-quizz_2 {
		width: 90vw;
	}
	.dados-quizz_3 {
		width: 90vw;
	}
	#input-box {
		width: 90vw;
		margin-left: 0px;
		margin-right: 0px;
	}
	.instrucao {
		margin-left: 0px;
	}
	.caixa-niveis {
		width: 90%;
	}
	.caixa-adicao {
		width: 90%;
	} */
	.corpo-pagina-inicial > .botao-criacao {
		width: 100%;
		justify-self: center;
		justify-content: space-between;
		padding: 0 25px;
	}
	.hidden {
		display: none;
	}
}
